$primary-color: #282c34;
$secondary-color: #61dafb;

$typeface: 'Brandon Grotesque', sans-serif;

$text-size-xl: 68px;
$text-size-l: 52px;
$text-size-m: 22px;
$text-size-2: 12px;

$color-white: #ffffff;
$color-black: #000000;
$color-darkGrey: #333333;

$color-background: $color-black;

$spacing-xl: 60px;
$spacing-l: 40px;
$spacing-m: 20px;
$spacing-s: 10px;
