$primary-color: #282c34;
$secondary-color: #61dafb;

$typeface: 'Open Sans', sans-serif;

$text-size-xl: 64px;
$text-size-l: 48px;
$text-size-m: 16px;
$text-size-2: 12px;

$color-white: #ffffff;
$color-black: #000000;

$color-background: $color-black;

$spacing-xl: 60px;
$spacing-l: 40px;
$spacing-m: 20px;
$spacing-s: 10px;
