@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacing-l;
  height: 80px;
  width: 100%;
  background-color: rgba($color-black, 0);
  transition: background-color $transition-normal ease-in-out;
  will-change: transform;
  z-index: $layer-9;
  
  .logo {
    height: 35px;
    margin-left: 5px;
  }
  
  &.inTop {
    position: absolute;
    // transform: translate3d(0, -80px, 0);
    background-color: rgba($color-black, 0);
  }
  
  &.goingDown {
    position: fixed;
    transition: transform $transition-normal $easeOutCubic;
    background-color: rgba($color-black, 0.8);
    &.lightMode {
      background-color: rgba($color-white, 0.9);
    }
  }
  
  &.goingUp {
    position: fixed;
    transition: transform $transition-normal $easeOutCubic;
    background-color: rgba($color-black, 0.8);
    &.lightMode {
      background-color: rgba($color-white, 0.9);
    }
  }

  .menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    .links {
      position: relative;
      margin: 0;
      padding: 0;
      display: inline-block;
      flex-direction: row;

      .link {
        position: relative;
        display: inline-block;
        padding: 0 $spacing-m;
        margin: 0 $spacing-m;
        @include type-link;
        color: darken($color: $color-white, $amount: 40);
        
        &:hover {
          color: darken($color: $color-white, $amount: 0);
        }

        &::after {
          content: ' ';
          position: absolute;
          bottom: -6px;
          width: 30px;
          height: 1px;
          left: 50%;
          margin-left: -15px;
          background-color: $color-white;
          transform: scaleX(0);
          transition: transform $transition-normal $easeInOutCubic;
          will-change: transform;
        }

        &.isActive {
          opacity: 1;
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &.lightMode {
    .menu {
      .links {
        .link {
          color: lighten($color: $color-darkGrey, $amount: 20);
          &:hover {
            color: lighten($color: $color-darkGrey, $amount: 0);
          }
          &::after {
            background-color: $color-darkGrey;
          }
        }
      }
    }
  }

  .darkmodeSwitch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
    border: 1px solid darken($color: $color-white, $amount: 40);
    border-radius: 10px;
    cursor: pointer;
    transition: border $transition-fast ease-in-out;
    will-change: border;
    margin-left: 30px;

    .knob {
      position: absolute;
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: darken($color: $color-white, $amount: 40);
      border-radius: 7px;
      top: 2px;
      left: 2px;
      transition: background-color $transition-fast ease-in-out, transform $transition-normal $easeInOutCubic;
      will-change: background-color, transform;
      transform: translate3d(0, 0, 0);
    }

    &:hover {
      .knob {
        background-color: darken($color: $color-white, $amount: 0);
      }
    }

    .switchIcon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      transition: opacity $transition-normal ease-in-out, transform $transition-normal $easeInOutCubic;
      will-change: opacity, transform;

      svg {
        width: 100%;
        height: 100%;
      }

      &.moon {
        right: 6px;
        transform: translate3d(0, 0, 0);
        width: 8px;
        height: 8px;
        top: 5px;
        svg {
          path {
            fill: darken($color: $color-white, $amount: 40)
          }
        }
      }
      
      &.sun {
        left: 2px;
        width: 20px;
        height: 20px;
        top: -1px;
        opacity: 0;
        transform: translate3d(5px, 0, 0);
        svg {
          path {
            fill: lighten($color: $color-darkGrey, $amount: 20);
          }
        }
      }
    }
  }

  &.lightMode {
    .darkmodeSwitch {
      border: 1px solid color lighten($color: $color-darkGrey, $amount: 20);
      .knob {
        background-color: lighten($color: $color-darkGrey, $amount: 20);
        transform: translate3d(22px, 0, 0)
      }
      &:hover {
        .knob {
          background-color: lighten($color: $color-darkGrey, $amount: 0);
        }
      }
      .switchIcon {
        &.moon {
          transform: translate3d(-5px, 0, 0);
          opacity: 0;
        }
        &.sun {
          opacity: 1;
          transform: translate3d(0px, 0, 0);
        }
      }
    }
  }

}