@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacing-l;

  height: 80px;
  width: 100%;
  background-color: rgba($color-black, 0);

  transition: background-color 0.5s ease-in-out;

  will-change: transform;
  
  z-index: 99999;
  
  .logo {
    height: 40px;
  }
  
  
  &.inTop {
    position: absolute;
    // transform: translate3d(0, -80px, 0);
  }
  
  &.goingDown {
    position: fixed;
    transition: transform 0.5s $easeOutCubic;
    background-color: rgba($color-black, 0.6);
    &.lightMode {
      background-color: rgba($color-white, 0.8);
    }
  }
  
  &.goingUp {
    position: fixed;
    transition: transform 0.5s $easeOutCubic;
    background-color: rgba($color-black, 0.6);
    &.lightMode {
      background-color: rgba($color-white, 0.8);
    }
  }

}